<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
     

<h4>Form Failed To submit because <strong><%= name %> </strong> already exists. Please try again with different name </h4>


</div>
</div>
</div>
</div>