<div class="card card-4">

    <div  class="card-body">
<h4>All the Players list who got selected for MPL has been Cleared. If you want to select again go back and select players from admin list</h4>

        </div>

</div>