
<h2 style="text-align: center; color: white;">List of the players who Got selected for MPL</h2><br>
  <div class="card card-4">
      

    <div class="card-body">


        <table class="table">
            <thead>
              <tr>
                <th>Player Name</th>
              <th>Player Type</th>
                <th>Player Village</th>
              </tr>
            </thead>
            <% if(list) { %>
                <% for(let i of list) {%>
            <tbody>
              <tr>
                <td><%= i.name %></td>
                <td><%= i.playerType %></td>
                <td><%= i.city %></td>
              </tr>
            </tbody>
            <% }} %>
          </table>
         






 <h1></h1>

    </div>
    </div>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>