<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4" >
            <div class="card-body">
     
<h3> Hello <strong><%= fullName %> </strong>you have successfully applied for MPL(Moodubelle Premier League), We will contact you soon </h3>
  

</div>
</div>
</div>
</div>